*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

a{
    color: black;
}

#mobile-nav{
    display: none;
}

#desktop-nav{
    display: block;
    max-width: 100%;
}

img{
    max-width: 100%;
}

/* Carousel Start */

.carousel{
    overflow: hidden;
    position: relative;
}

#carousel-banner{
    padding: 2%;
}

.carousel .carousel_item, 
.carousel .carousel_item--hidden{
    display: none;
    position: relative;
}

.carousel .carousel_item img{
    width: 100%;
    height: auto;
}

.carousel .carousel_item--visible{
    display: block;
    
}

.carousel .carousel_actions {
    width: 100%;
    text-align: center; 
    margin-top: -40px;
    /* background-color: rgb(196, 22, 22); */
    position: absolute;
    z-index: 999;
}

.carousel .carousel_actions button{
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 1px;
}

.carousel .carousel_actions button#carousel_button--prev {
    margin-left: 20px;
}

.carousel .carousel_actions button#carousel_button--next {
    margin-right: 20px;
} 



/* Carousel End */

/* ---------------------------------------------- */
/** ----------  Hero Container Start  ---------- **/
/* ---------------------------------------------- */

.hero-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
    background-color: #A6549C;
    
}

.left-hero-container{
    flex:60%;
    padding-left: 10%;
    padding-right: 20%;
    
}

.left-hero-container h3{
    color: black;
    font-size: 25px;
}

.left-hero-container span, .left-hero-container h2{
    color: white;
    /* font-style: italic; */
    margin: 10px 0;
}

.left-hero-container p{
    color: white;
    margin: 10px 0;
}

.left-hero-container button{
    color: white;
    padding: 10px 15px;
    background-color: black;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
    max-width: 100%;
}

.left-hero-container button:hover{
    color: black;
    background-color: rgb(240, 231, 231);
    font-weight: bolder;
}

.right-hero-container{
    flex: 40%;
}



/* ---------------------------------------------- */
/* ------------  Hero Container End  ----------- */
/* ---------------------------------------------- */




/* ---------------------------------------------- */
/** ----------  Main Container Start  ---------- **/
/* ---------------------------------------------- */
main{
    margin: 2% 5%;
}

/* Easy to steps */
.easy-steps-container{
    text-align: center;
    margin: 4% 0;
}



.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 2%;
    overflow-x: hidden;
}

.card{    
    padding: 20px;
}

.card-img-top img{
    border: 1px solid gray;
    border-radius: 50%;
}

.card-title{
    margin: 4% 0;
    font-size: 30px;
}

.purpole{
    color: #A6549C;
}

#sky-blue{
    color: #1E839A;
}

#orange{
    color: orangered;
}



/* Prep to Eat */
.prep-to-eat-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.prep-to-eat, .all-prep{
    flex: 50%;
    padding: 2%;
    max-width: 100%;
}

#group-1974{
    display: none;
}

.all-prep-left, .all-prep-right{
    max-width: 100%;
    flex: 50%;
    margin: 3% 2%;
}



.all-prep-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr{
    margin: 1%;
    border: 1px solid #A6549C;
}

.card-img{
    max-width: 100%;
    object-fit: contain; 
}

.card-descrition p{
    margin: 10% 0;
}



/* Groom */
.groom{
    display: flex;
    flex-direction: row;
}

.grom-left img{
    border: 5px solid #61BDD2;
    margin: 1%;
}

.grom-right{
    margin-left: 1%;
    position: relative;
    top: 10px;
}

.mobile-groom{
    display: none;
}

.card-img-layer img{
    width: auto;
    margin-left: -30px;
}

.cat-groom{
    padding: 2%;
}

.cat-head-groom{
    color: #61BDD2;
}
.cat-groom-hr{
    border: 1px solid #61BDD2;
}



/* Finish */
#finish{
    border: 1px solid orangered;
}

#finish-part{
    margin-bottom: 2%;
}

/* ---------------------------------------------- */
/* -------------  Main Section End  -------------*/
/* ---------------------------------------------- */


/* Large Banenr */
.bg-container{
    background-image: url("images/Image 15.png");
    /* max-height: 358px; */
    background-position: right;
}

.details-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-details{
    flex: 50%;
}

.right-details{
    margin: 10%;
}

.mobile-banner-container{
    display: none;
}


/* Fotter */
#footer-mobile{
    display: none;
}

footer{
    margin-top: 2%;
}

.year-1959{
    margin-top: 5%;
}



/* ---------------------------------------------- */
/** ----------  Responsive Media Query Start  ---------- **/
/* ---------------------------------------------- */
@media screen and (max-width: 375px) {
    #mobile-nav{
        display: block;
        max-width: 100%;
    }

    #desktop-nav{
        display: none;
    }

    .hero-container{
        flex-direction: column;
    }


    .carousel .carousel_actions button{
        width: 5px;
        height: 5px;
    }
    .carousel .carousel_actions {
         
        margin-top: -20px;
        
    }

    .left-hero-container{
        order: 2;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .left-hero-container p, .left-hero-container h2{
        padding: 0 12%;
    }

    .left-hero-container button{
        background-color: transparent;
        text-decoration: underline;
    }

    .rightt-hero-container{
        order: 1;
    }

    .right-hero-container img{
        position: relative;
        left: -5px;
    }

   
    .cards{
        overflow-x: scroll;
    }

    .card{
        width: 199px;
    }
    

    .prep-to-eat-container{
        flex-direction: column;
    }

   

    #group-1974{
        display: block;
    }

    #prep-image{
        display: none;
    }

    .all-prep-head{
        flex-direction: column;
        margin: 2% 0;
    }

    .card-img{
        border:0;
    }

    .card-img-layer img{
        position: relative;
        margin-left: -30px;
    }

    .mobile-groom{
        display: flex;
        flex-direction: column;
    }

    .groom{
        display: none;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
    }

    .flex-row img{
        border: 5px solid #61BDD2;
        max-width: 100%;
    }

    #mobile-groom{
        position: relative;
        top: -15px;
    }

    .card-img-layer img{
        max-width: 100%;
    }

    .bg-container{
        display: none;
    }

    .mobile-banner-container{
        display: block;
    }

    .mobile-banner{
        display: flex;
        flex-direction: column;
    }

    #footer-desktop{
        display: none;
    }

    #footer-mobile{
        display: block;
    }
    .main-image img{
        position: relative;
        top: -5px;
    }
    .mobile-banner-head img{
        position: relative;
        
    }

 

}

@media  screen and  (max-width: 768px){
    .prep-to-eat-container{
        flex-wrap: wrap;
        margin: 0 10%;
        flex-direction: column;
    }

   

}
